* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    width: 100%;
    height: auto;
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenedor {
    background-color: lightblue;
}
header {
    display: inline-block;
    width: 100%;
    height: 106px;
    box-sizing: border-box;
    background-color: #F7F7F7;
}
header .img {
    display: inline-block;
    width: 20%;
    height: 106px;
    float: left;
    box-sizing: border-box;
}
header img {
    position: relative;
    left: 28%;
}

header h1 {
    text-align: start;
    font-size: 4em;
    line-height: 106px;
    color: #033E8C;
}
header .title {
    display: inline-block;
    width: 80%;
    height: 106px;
    box-sizing: border-box;
}
.nav {
    display: inline-block;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    text-align: center;
    background-color: #F7F7F7;
}
nav {
    display: inline-block;
    line-height: 80px;
    box-sizing: border-box;
}
nav li {
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 10px;
    color: #033E8C;
    font-size: 17px;
    height: 70px;
    width: 250px;
    text-align: center;
}
nav li:hover{
    color: #5FAAD9;
    cursor: pointer;
}
nav li:active {
    color: #888;
}

.form-horario {
    padding: 20px;
}
/*ESTILOS HORARIO*/

.horario {
    width: 100%;
    padding-top: 20px;
}
#horario table {
    width: 100%;
}
#horario table thead tr #days {
    width: 141px;
    height: 30px;
    color: #033E8C;
    font-size: 17px;
}
#horario table tbody tr td {
    height: 100px;
    text-align: center;
}
#horario table tbody tr a {
    text-decoration: none;
}


    /*CSS POPUP 1*/
    .popup {    /*FONDO OSCURO*/
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: scroll;
        background-color: rgba(0, 0, 0, 0.664);
    }

    .popup-content {    /*VENTANA*/
        background-color: #fefefe;
        border-radius: 10px;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
        height: 450px;
        box-sizing: border-box;
        line-height: 40px;
        display: block;
        font-size: 16px;
    }
    .popup-content h2 {
        text-align: center;
        color: #033E8C;
        font-size: 2.5em;
    }
    .popup-content #user,
    .popup-content #password {
        width: 70%;
        height: 30px;
        font-size: 15px;
    }
    .popup-content label {
        color: #033E8C;
        text-align: start;
    }
    .popup-content #submit,
    .popup-content #reset {
        width: 70%;
        margin: none;
        padding: 3px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: #5FAAD9;   
    }
    .popup-content #submit:hover,
    .popup-content #reset:hover {
        background-color: #033E8C;
    }
    .popup-content #submit:active,
    .popup-content #reset:active {
        color: black;
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /*CSS POPUP 2*/
    .popup2 {   /*FONDO OSCURO*/
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: scroll;
        background-color: rgba(0, 0, 0, 0.664);
    }

    .popup-content2 {   /*VENTANA*/
        background-color: #fefefe;
        border-radius: 10px;
        margin: 2% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
        height: auto;
        box-sizing: border-box;
        line-height: 40px;
        display: block;
        font-size: 16px;
    }
    .popup-content2 h2 {
        text-align: center;
        color: 033E8C;
        font-size: 2.5em;
    }
    .popup-content2 #user2,
    .popup-content2 #password2,
    .popup-content2 #email {
        width: 70%;
        height: 30px;
        font-size: 16px;
    }
    .popup-content label {
        color: #5FAAD9;
        font-size: 1.1rem;
    }
    .popup-content2 #submit2,
    .popup-content2 #reset2 {
        width: 70%;
        margin: none;
        padding: 3px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: #5FAAD9;    
    }
    .popup-content2 #submit2:hover,
    .popup-content2 #reset2:hover {
        background-color: #033E8C;
    }
    #openPopup2:hover{
        cursor: pointer;
    }
    .enlace {
        text-decoration: underline;
    }
    .close2 {
        color: #aaa;
        
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    .close2:hover,
    .close2:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    form #carrera {
        color: black;
        width: 40%;
        text-align: center;
        font-size: 15px;
        border: none;
        height: 30px;
        background-color: #EAEEF7;
    }
      

/*RESPONSIVE*/
@media screen and (max-width: 1200px) {
    header .img {
        width: 15%;
    }
    header img {
        left: 6%;
    }
    nav {
        width: 100%;
    }
    nav li {
        width: 200px;
    }
}
@media screen and (max-width: 1000px) {
    form .nombre-curso {
        width: 200px;
    }
}
@media screen and (max-width: 800px) {
    nav li {
        width: 180px;
        font-size: 16px;
    }
    form {
        text-align: start;
    }
    form .color {
        width: 140px;
    }
    form .desde,
    form .hasta,
    form .dias,
    form .aula {
        width: 100px;
    }
}
@media screen and (max-width: 700px) {
    header .img {
        width: 30%;
    }
    header h1 {
        font-size: 3.5em;
    }
    header .title {
        width: 70%;
    }
    nav li {
        font-size: 15px;
        width: 170px;
    }
}
@media screen and (max-width: 600px) {
    nav li {
        width: 140px;
    }
    header h1 {
        text-align: center;
        font-size: 3.3em;
    }
}
@media screen and (max-width: 576px) {
    .nav {
        height: 80px;
    }
    header {
        height: 200px;
    }
}
@media screen and (max-width: 500px) {
    .nav {
        height: 155px;
    }
    nav li {
        width: 200px;
    }
    header h1 {
        font-size: 2.7em;
        text-align: start;
    }
}
@media screen and (max-width: 460px) {
    header h1 {
        font-size: 2.5em;
        text-align: start;
    }
    form .nombre-curso,
    form .dias,
    form .desde,
    form .hasta,
    form .color,
    form .btn,
    form .aula {
        width: 100%;
    }
    form #nombre {
        width: 80%;
    }
    form .desde select,
    form .dias select,
    form .hasta select,
    form .aula select {
        width: 80%;
    }
}
@media screen and (max-width: 400px) {
    header {
        height: 212px;
    }
    header .img {
        width: 100%;
    }
    header img {
        left: 37%;
    }
    header .title {
        width: 100%;
    }
    header h1 {
        text-align: center;
    }
    nav li {
        width: 100%;
        font-size: 18px;
    }
    .nav {
        height: 320px;
    }
    form .desde select,
    form .dias select,
    form .hasta select,
    form .aula select {
        width: 80%;
    }
}
@media screen and (max-width: 412px) {
    header {
        height: 212px;
    }
    header .img {
        width: 100%;
    }
    header img {
        left: 37%;
    }
    header .title {
        width: 100%;
    }
    header h1 {
        text-align: center;
    }
    form .color {
        width: 100%;
    }
    form select option {
        width: 100%;
        height: 100%;
    }
    .popup-content #user,
    .popup-content #password,
    .popup-content2 #user2,
    .popup-content2 #password2,
    .popup-content2 #email,
    .popup-content2 #submit2,
    .popup-content2 #reset2,
    .popup-content #submit,
    .popup-content #reset,
    form #carrera {
        width: 100%;
    }
    .popup-content2,
    .popup-content {
        width: 90%;
    }
}